.button_type_edit {
  max-width: 24px;
  height: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  border: none;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    max-width: 18px;
    height: 18px;
  }
}